$h1-size: 30px;
$h2-size: 28px;
$h3-size: 26px;
$h4-size: 22px;
$h5-size: 20px;
$h6-size: 18px;
$text-size: 15px;
$small-size: 14px;
$x-small-size: 12px;

$text-dark: #494949;
$text-gray: #717171;
$text-light: #b4b4b4;
$text-white: #ffffff;

$brand-green: #4ebd9c;
$brand-blue: #2d90dc;
$brand-yellow: #ffe331;
$brand-gold: #b99401;
$brand-orange: #db5e4b;

$calendar-row-height: 42px;