.become-bg{
	background: url(../../images/become-bg.jpg) no-repeat center top fixed;

}

.become-page{
	.section-first{
		.row{
			@include make-row(1440px,0px,0px);

			.masthead{
				@include make-grid(1440px,0px,0px,496px);
				display: table-cell;
				vertical-align: top;
				float: none;
				position: relative;
				.content{
					margin-left: percentage(80 / 496);
					padding-top: percentage(152 / 496);
					background: #fff;
					position: absolute;
					bottom: 0;
					width: percentage(416 / 496);
					h1{
						text-align: right;
						margin-bottom: 0;
						padding-right: 30px;
						padding-bottom:30px;
					}
				}
			}
			.masthead-banner{
				@include make-grid(1440px,0px,0px,944px);
				display: table-cell;
				vertical-align: top;
				float: none;
			}
		}
	}

	.section-second{
		@include make-container(920px);
		& > .row:first-child{
			@include make-row(920px,20px,20px);
			margin-top: percentage(60 / 920);
			margin-bottom: percentage(30 / 920);
			h1{
				margin-bottom: 0;
			}

			& ~ .row{
				@include make-row(920px,20px,20px);
				.col-sm-6{
					@include make-grid(920px,20px,20px);
					.reason{
						margin-bottom: percentage(40 / 460);
						.reason-left{
							width: 110px;
							height: 110px;
							display: inline-block;
							vertical-align: top;
							margin-right: 25px;
						}
						.reason-right{
							width: calc(100% - 140px);
							display: inline-block;
							vertical-align: top;
							h4{
								font-weight: bold;
								margin-bottom: 20px;
								line-height: 1.5;
							}
							p{
								margin-bottom: 0;
								line-height: 1.5;

							}
						}
					}

					& ~ .col-sm-6{
						.reason-right p{
							width: 80%;
						}
					}
				}

			}
		}
	}

	.section-third{
		background: url(../../images/become-bg-2.jpg) repeat-y center top;

		.inner-section{
			@include make-container(920px);
			& > .row:first-child{
				@include make-row(920px,20px,10px);
				margin-top: percentage(60 / 920);
				margin-bottom: percentage(40 / 920);
				h1{
					margin-bottom: 0;
				}

				& ~ .row{
					@include make-row(920px,20px,10px);
					margin-bottom: percentage(110 / 920);
					.col-sm-3{
						@include make-grid(920px,20px,10px);
						.step{
							background: $brand-green;
							.step-top{
								text-align: center;
								padding: percentage(60 / 230) percentage(55 / 230) percentage(30 / 230);
							}
							.step-middle{
								padding:0 percentage(30 / 230);
								h5{
									text-align: center;
									margin-bottom: 15px;

								}
								p{
									margin-bottom: 0;
									text-align: center;
									height: 100px;
								}

							}
							.step-bottom{
								text-align: center;
								padding-bottom: percentage(30 / 230);
								.btn{
									color: #7f7118;
									border-radius: 0;
								}
								.fa{
									margin-right: 10px;
								}
							}
						}
					}

				}
			}
		}


	}

	.faqs-btn{
		margin-top: percentage(40 / 1280);
		margin-bottom: percentage(40 / 1280);
		.arrow-btn .btn{
			padding: 20px 50px;
			border-radius: 0;
			display: inline-block;
			vertical-align: middle;
			color: $text-dark;
			line-height: 1;
			& ~ .icon{

				padding: 9px 24px 9px;
				background: darken($brand-green, 15%);
				display: inline-block;
				vertical-align: middle;
				margin-left: -5px;
				color: #fff;

				i{
					font-size: 50px;
				}
			}
		}
	}
}